.num1 {
    color: black;
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}

.num3 {
    color: black;
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}

#num4 {
    color: black;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 24px;
}

.num5 {
    color: black;
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}